[Desktop Entry]
Encoding=UTF-8
Name=Link to  video_demo_torque_interaction2.mov
Type=Link
URL=https://drive.google.com/a/kinova.ca/file/d/1YGBevPNzhkI13TXW4uq4AE_fhEWFmnVJ/view?usp=drive_web
Icon=text-html
